//HOME LOGOUT

.HomeMain {
  display: flex;
  justify-content: space-between;
  background-color: var(--black-color);
  height: 660px;

  .LeftHome {
    border-right: solid 2px var(--white-color);
    width: 50%;
    height: 100%;
    display: flex;
    img {
      object-fit: contain;
    }
  }

  .RightHome {
    width: 50%;
    height: 100%;
    padding-left: 50px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    div {
      color: black;
      font-size: 5rem;
    }
    div:hover {
      color: white;
      font-size: 5rem;
      letter-spacing: 1rem;
      background-image: linear-gradient(120deg, #212121, #212121 100%);
      background-repeat: no-repeat;
      background-size: 100% 0.1em;
      background-position: 0 50%;
      transition: background-size 0.25s ease-in;
    }
    button {
      background: none;
      border: white 1px solid;
      border-radius: 30px;
      font-size: 1.5rem;
      padding: 15px;
      width: 100%;
      color: white;
      margin-top: 30px;
    }
    button:hover {
      cursor: pointer;
      background-color: white;
      color: var(--black-color);
    }
  }
}

// MODAL

.modal {
  background-color: #f0f3f4;
  animation: new-item-animation 0.6s linear forwards;

  .info-audio {
    display: flex;
    align-items: center;

    img {
      width: 100px;
      height: 100px;
      padding: 10px;
    }
  }
  .audio {
    margin-left: 30px;
    padding-left: 400px;
  }
}
@keyframes new-item-animation {
  from {
    opacity: 0;
    transform: translateY(0px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// HOME LOGIN
.body-home {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.7;
  color: #fff;
  margin: 0;
  padding: 0;
  overflow-x: none;
  background-color: var(--black-color);

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #fff;
    margin: 0;
  }
}

.section-fluid-main-home {
  border-right: white solid 2px;
  border-left: white solid 2px;
  overflow: hidden;
  width: 803px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px;
  padding: 10px 0;
}
.section-row-home {
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.section-col-home {
  position: relative;
  width: 100%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  transition: opacity 250ms linear;
}
.section-row-home .section-col-home:hover {
  opacity: 1;
}
.section-home {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  padding: 15px;
}
.section-in-home {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  border-radius: 6px;
  cursor: pointer;
}
.section-in-home img {
  display: block;
  width: 800px;
  height: auto;
  transition: transform 250ms linear;
}
.section-col-home:hover .section-in-home img {
  transform: scale(1.1) rotate(-3deg);
  cursor: pointer;
}

.hover-text-home {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 100;
  pointer-events: none;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  -ms-flex-item-align: center;
  align-self: center;
  mix-blend-mode: difference;
}
.hover-text-home h2 {
  font-weight: 800;
  font-size: 8vw;
  line-height: 1;
  color: #fff;
  opacity: 0;
  transform: scale(0.8);
  transition: transform 250ms linear, opacity 250ms ease;
}
.section-col-home:hover + .hover-text-home h2 {
  opacity: 1;
  transform: scale(1);
}

@media (max-width: 767px) {
  .section-col {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .hover-text h2 {
    font-size: 12vw;
  }
}

// TEXTE DEFILANT
.main-about-home {
  background-color: var(--black-color);
  color: white;
  display: flex;
  justify-content: space-between;
  border-bottom: white solid 2px;

  .about {
    display: flex;
    justify-content: center;
    width: 48.8rem;
  }
  .hidden {
    color: var(--black-color);
  }
  .title {
    overflow: hidden;
    display: flex;
    height: 30%;
    width: 100%;
    transform: translate(-90deg);
  }
  .txt {
    white-space: nowrap;
    font-size: 6rem;
    animation: scrollTxt 10s linear infinite;
  }

  @keyframes scrollTxt {
    0% {
      transform: translate(-70%, 0);
    }
    100% {
      transform: translate(0%, 0);
    }
  }
}

// ICONE
.icone {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: white solid 2px;
  padding-bottom: 30px;
  .like {
    width: 40px;
    cursor: pointer;
  }
}

.container-close {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  .close {
    width: 10px;
    height: 10px;
    cursor: pointer;
  }
}
