.container-profile {
  background-color: var(--black-color);
  display: flex;
  justify-content: center;
  .profile {
    border-right: white 2px solid;
    border-left: white 2px solid;
    width: 805px;
    .nav-profile {
      border-bottom: white solid 2px;
      display: flex;
      height: 150px;

      .container-avatar {
        border-right: white solid 2px;
        height: 150px;
        width: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        .avatar {
          border: white solid 2px;
          object-fit: cover;
          border-radius: 50px;
          width: 100px;
          height: 100px;
        }
      }
      .info-profile {
        display: flex;
        padding: 20px;
        align-items: center;
        .params {
          width: 50px;
          height: 50px;
        }
        p {
          font-size: 2rem;
          color: white;
        }
      }
      .description {
        padding-left: 20px;
        color: white;
        height: 60px;
      }
    }
  }
}

.section-fluid-main-profile {
  border-right: white solid 2px;
  border-left: white solid 2px;
  overflow: hidden;
  width: 803px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px;
  padding: 10px 0;
  display: flex;
}
.section-row-profile {
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.section-col-profile {
  position: relative;
  width: 100%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  transition: opacity 250ms linear;
}
.section-row-profile .section-col-profile:hover {
  opacity: 1;
}
.section-profile {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  padding: 15px;
}
.section-in-profile {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  border-radius: 6px;
  cursor: pointer;
}
.section-in-profile img {
  display: block;
  width: 800px;
  height: auto;
  transition: transform 250ms linear;
}
.section-col-profile:hover .section-in-profile img {
  transform: scale(1.1) rotate(-3deg);
  cursor: pointer;
}

.hover-text-profile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 100;
  pointer-events: none;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  -ms-flex-item-align: center;
  align-self: center;
  mix-blend-mode: difference;
}
.hover-text-profile h2 {
  font-weight: 800;
  font-size: 8vw;
  line-height: 1;
  color: #fff;
  opacity: 0;
  transform: scale(0.8);
  transition: transform 250ms linear, opacity 250ms ease;
}
.section-col-profile:hover + .hover-text-profile h2 {
  opacity: 1;
  transform: scale(1);
}

@media (max-width: 767px) {
  .section-col {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .hover-text h2 {
    font-size: 12vw;
  }
}
