.UpdateMain {
  height: 660px;
  background-color: var(--black-color);
  display: flex;
  justify-content: center;

  .container-updateprofile {
    border: white solid 2px;
    width: 50%;
    padding: 80px;
    .update {
      border: white solid 2px;
    }
    .header-updateprofile {
      display: flex;
      align-items: center;
      border-bottom: white solid 2px;
      font-size: 2rem;
      color: white;
      img {
        height: 100px;
        width: 100px;
        border-right: white solid 2px;
      }
      .title-update {
        padding: 10px;
      }
    }
  }
  .form-update {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
    input {
      background: none;
      border: white 1px solid;
      border-radius: 30px;
      font-size: 1rem;
      padding: 15px;
      width: 80%;
      color: white;
      outline: none;
    }
    .container-name {
      display: flex;
      justify-content: space-between;
      width: 80%;
      gap: 20px;
    }
    button {
      background: none;
      border: white 1px solid;
      border-radius: 30px;
      font-size: 1.5rem;
      padding: 15px;
      width: 50%;
      color: white;
      margin-top: 30px;
    }
    button:hover {
      cursor: pointer;
      background-color: white;
      color: var(--black-color);
    }
  }
}
